.gf-card {
  border-radius: var(--gf-radius-sm);
  border-color: var(--gf-color-border-base);
}

.gf-card-default {
  background: var(--gf-color-bg-base);
}

.gf-card-grey {
  background: var(--gf-color-bg-tertiary);
}

.gf-card-debug {
  background: var(--gf-color-bg-debug);
}