.gf-description-2 {
  column-count: 2;
}

.gf-description-3 {
  column-count: 3;
}

.gf-description-4 {
  column-count: 4;
}

.gf-description-body {
  font: var(--gf-label-lg-default);
  color: var(--gf-color-text-secondary);
}